//========================================================================== //
// Copyright (c) 2025, Stephen Henry
// All rights reserved.
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions are met:
//
// * Redistributions of source code must retain the above copyright notice, this
//   list of conditions and the following disclaimer.
//
// * Redistributions in binary form must reproduce the above copyright notice,
//   this list of conditions and the following disclaimer in the documentation
//   and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
// AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
// ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
// LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
// CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
// SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
// INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
// CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
// ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
// POSSIBILITY OF SUCH DAMAGE.
//========================================================================== //

`include "common_defs.vh"

module top (
// ------------------------------------------------------------------------- //
// Input vector
  input wire logic [{{W}} - 1:0]                 i_x

// Admission Decision
, output wire logic                              o_is_unary
// Compliment form unary.
, output wire logic                              o_is_compliment

// ------------------------------------------------------------------------- //
// Clk
, input wire logic                               clk
);

// ------------------------------------------------------------------------- //
//                                                                           //
// Wires                                                                     //
//                                                                           //
// ------------------------------------------------------------------------- //

logic [{{W}} - 1:0]            project_x_w;
logic [{{W}} - 1:0]            project_x_r;

logic                          project_is_unary_w;
logic                          project_is_unary_r;

logic                          project_is_compliment_w;
logic                          project_is_compliment_r;

// ------------------------------------------------------------------------- //
//                                                                           //
// Logic                                                                     //
//                                                                           //
// ------------------------------------------------------------------------- //

assign project_x_w = i_x;

// Input flops
always_ff @(posedge clk) begin: in_reg_PROC
  project_x_r <= project_x_w;
end: in_reg_PROC

// Project top-level
{{unary_detector}} #(
    .W({{W}}), .P_ADMIT_COMPLIMENT_EN({{ADMIT_COMPLIMENT_EN}}))
  u_unary_detector (
//
  .i_x                  (project_x_r)
//
, .o_is_unary           (project_is_unary_r)
, .o_is_compliment      (project_is_compliment_r)
);

// Output flops
always_ff @(posedge clk) begin: out_reg_PROC
  project_is_unary_r <= project_is_unary_w;
  project_is_compliment_r <= project_is_compliment_w;
end: out_reg_PROC

assign o_is_unary = project_is_unary_r;
assign o_is_compliment = project_is_compliment_r;

endmodule: top