name: CI
on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    container:
      image: ghcr.io/${{ github.repository }}/devcontainer:latest
      options: --user root
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4
      - name: test_w32
        env:
          PIP_ROOT_USER_ACTION: ignore
        run: |
          cmake . --preset w32
          cmake --build build_w32 -t tb
          ctest --test-dir build_w32